<div th:fragment="menu" xmlns:sec="http://www.w3.org/1999/xhtml">
    <ul class="nav flex-wrap nav-main">
        <li class="nav-item me-3"><a class="nav-link fw-bold text-warning" href="#">YODY YÊU</a></li>
        <li class="nav-item me-3"><a class="nav-link fw-bold text-danger" href="#">COUPON XỊN</a></li>
        <li class="nav-item me-3 dropdown">
            <a class="nav-link fw-bold text-primary dropdown-toggle" href="#" id="nam-dropdown">NAM</a>
            <ul class="dropdown-menu" id="nam-dropdown-menu">
                <li><a class="dropdown-item" href="#">Quần Nam</a></li>
                <li><a class="dropdown-item" href="#">Áo Nam</a></li>
                <li><a class="dropdown-item" href="#">Phụ Kiện Nam</a></li>
            </ul>
        </li>
        <li class="nav-item me-3" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link fw-bold text-danger" th:href="@{/staff}">STAFF</a>
        </li>
        <li class="nav-item me-3" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link fw-bold text-danger" th:href="@{/user}">USER</a>
        </li>
        <li class="nav-item me-3" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link fw-bold text-danger" th:href="@{/products}">PRODUCT</a>
        </li>
        <!-- Thêm các mục khác tương tự -->
    </ul>
</div>